body {
    background-color: pink;
    text-align: center;
}


img {
    width: 600px
}

.kavarna {
    width: 350px;
    padding: 30px;
    margin: auto;
    border: 1px solid black;
    background-color: white;
}

.skola {
    width: 350px;
    padding: 30px;
    margin: auto;
    border: 1px solid black;
    background-color: plum;
}